In [53]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np

In [54]:
###  Read data from ‘students.csv’

In [55]:
df = pd.read_csv('students.csv')

In [56]:
###   Data Cleaning

In [57]:
# Display how many rows and columns
df.shape

(3485, 76)

In [58]:
df.head()

,School_group,Major_cat,School,Major,Year,Gender,Age,Close_friend,Closefriend_inout,GPAX,...,Learning_style_21,Learning_style_22,Learning_style_23,Learning_style_24,Learning_style_25,Learning_style_26,Learning_style_27,Learning_style_28,Learning_style_29,Learning_style_30
0,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,1.50,...,3,3,3,3,3,3,3,3,3,3
1,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,2.36,...,4,3,4,3,3,1,3,3,3,4
2,1,1.0,การจัดการ,บัญชี,3,1,20,3,1,2.72,...,3,3,3,5,3,1,1,1,5,3
3,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,3,1,2.13,...,3,3,3,3,3,3,3,3,3,4
4,1,1.0,การจัดการ,โลจิสติกส์และโซ่อุปทาน,3,1,21,2,2,2.52,...,5,5,5,5,4,5,4,4,5,3

In [59]:
df

,School_group,Major_cat,School,Major,Year,Gender,Age,Close_friend,Closefriend_inout,GPAX,...,Learning_style_21,Learning_style_22,Learning_style_23,Learning_style_24,Learning_style_25,Learning_style_26,Learning_style_27,Learning_style_28,Learning_style_29,Learning_style_30
0,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,1.50,...,3,3,3,3,3,3,3,3,3,3
1,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,2.36,...,4,3,4,3,3,1,3,3,3,4
2,1,1.0,การจัดการ,บัญชี,3,1,20,3,1,2.72,...,3,3,3,5,3,1,1,1,5,3
3,1,1.0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,3,1,2.13,...,3,3,3,3,3,3,3,3,3,4
4,1,1.0,การจัดการ,โลจิสติกส์และโซ่อุปทาน,3,1,21,2,2,2.52,...,5,5,5,5,4,5,4,4,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3480,4,13.0,อุตสาหกรรมการเกษตร,เทคโนโลยีการอาหาร,3,1,21,7,1,2.40,...,5,5,5,4,4,4,4,4,4,4
3481,4,13.0,อุตสาหกรรมการเกษตร,เทคโนโลยีการจัดการผลิตผลเกษตรและการบรรจุ,4,1,21,1,1,2.57,...,3,2,4,3,3,3,3,3,4,4
3482,4,13.0,อุตสาหกรรมการเกษตร,TMAP,4,1,21,3,2,3.33,...,999,999,999,999,999,999,999,999,999,999
3483,4,13.0,อุตสาหกรรมการเกษตร,เทคโนโลยีการอาหาร,4,1,21,7,1,3.30,...,4,5,3,4,4,5,3,3,2,5
3484,4,13.0,อุตสาหกรรมการเกษตร,เทคโนโลยีการจัดผลิตผลเกษตรและการบรรจุ,3,0,21,999,1,2.19,...,3,3,3,3,3,3,3,3,3,3

In [60]:
# Display data types of each column
df.dtypes

School_group           int64
Major_cat            float64
School                object
Major                 object
Year                   int64
                      ...
Learning_style_26      int64
Learning_style_27      int64
Learning_style_28      int64
Learning_style_29      int64
Learning_style_30      int64
Length: 76, dtype: object

In [61]:
df.drop(columns =['School_group', 'Major_cat'] )

,School,Major,Year,Gender,Age,Close_friend,Closefriend_inout,GPAX,Health_status,Health_status_iden,...,Learning_style_21,Learning_style_22,Learning_style_23,Learning_style_24,Learning_style_25,Learning_style_26,Learning_style_27,Learning_style_28,Learning_style_29,Learning_style_30
0,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,1.50,1,NaN,...,3,3,3,3,3,3,3,3,3,3
1,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,5,1,2.36,2,แพ้อากาศบางครั้ง,...,4,3,4,3,3,1,3,3,3,4
2,การจัดการ,บัญชี,3,1,20,3,1,2.72,1,NaN,...,3,3,3,5,3,1,1,1,5,3
3,การจัดการ,การจัดการการท่องเที่ยว,2,1,19,3,1,2.13,1,NaN,...,3,3,3,3,3,3,3,3,3,4
4,การจัดการ,โลจิสติกส์และโซ่อุปทาน,3,1,21,2,2,2.52,1,NaN,...,5,5,5,5,4,5,4,4,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3480,อุตสาหกรรมการเกษตร,เทคโนโลยีการอาหาร,3,1,21,7,1,2.40,1,NaN,...,5,5,5,4,4,4,4,4,4,4
3481,อุตสาหกรรมการเกษตร,เทคโนโลยีการจัดการผลิตผลเกษตรและการบรรจุ,4,1,21,1,1,2.57,1,NaN,...,3,2,4,3,3,3,3,3,4,4
3482,อุตสาหกรรมการเกษตร,TMAP,4,1,21,3,2,3.33,1,NaN,...,999,999,999,999,999,999,999,999,999,999
3483,อุตสาหกรรมการเกษตร,เทคโนโลยีการอาหาร,4,1,21,7,1,3.30,1,NaN,...,4,5,3,4,4,5,3,3,2,5
3484,อุตสาหกรรมการเกษตร,เทคโนโลยีการจัดผลิตผลเกษตรและการบรรจุ,3,0,21,999,1,2.19,1,NaN,...,3,3,3,3,3,3,3,3,3,3

In [62]:
df.describe()

,School_group,Major_cat,Year,Gender,Age,Close_friend,Closefriend_inout,GPAX,Health_status,Family_type,...,Learning_style_21,Learning_style_22,Learning_style_23,Learning_style_24,Learning_style_25,Learning_style_26,Learning_style_27,Learning_style_28,Learning_style_29,Learning_style_30
count,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,...,3485.00000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000,3485.000000
mean,2.454519,6.252511,2.960402,0.789957,31.374175,25.355524,1.168723,15.369463,1.144907,1.697561,...,185.65165,185.660832,185.742611,185.398852,185.057102,185.556098,185.086657,184.801722,203.745768,204.015495
std,1.141288,3.709136,0.797264,0.407397,102.959204,142.492192,0.374561,111.245947,0.352057,0.459380,...,384.71534,384.710896,384.672231,384.835078,384.996841,384.760567,384.982952,385.117940,399.467368,399.331948
min,1.000000,1.000000,2.000000,0.000000,18.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,3.000000,2.000000,1.000000,20.000000,2.000000,1.000000,2.330000,1.000000,1.000000,...,3.00000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000
50%,2.000000,5.000000,3.000000,1.000000,20.000000,4.000000,1.000000,2.800000,1.000000,2.000000,...,4.00000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000,3.000000,4.000000
75%,3.000000,9.000000,4.000000,1.000000,21.000000,5.000000,1.000000,3.250000,1.000000,2.000000,...,5.00000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,4.000000,5.000000,5.000000
max,4.000000,13.000000,4.000000,1.000000,999.000000,999.000000,2.000000,999.000000,2.000000,2.000000,...,999.00000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000

In [63]:
df.isnull().sum()

School_group         0
Major_cat            0
School               0
Major                0
Year                 0
                    ..
Learning_style_26    0
Learning_style_27    0
Learning_style_28    0
Learning_style_29    0
Learning_style_30    0
Length: 76, dtype: int64

In [64]:
df.isnull().sum(axis=1).sum()

7715

In [65]:
df.drop(df[df['GPAX'] == 999].index, inplace = True)

In [66]:
df.drop(df[df['Feel_uni_1'] == 999].index, inplace = True)

In [67]:
df.drop(df[df['Feel_uni_2'] == 999].index, inplace = True)

In [68]:
df.drop(df[df['Feel_uni_3'] == 999].index, inplace = True)

In [69]:
df.drop(df[df['Feel_uni_4'] == 999].index, inplace = True)

In [70]:
df.drop(df[df['Feel_uni_5'] == 999].index, inplace = True)

In [71]:
df.drop(df[df['Feel_uni_6'] == 999].index, inplace = True)

In [72]:
df.drop(df[df['Feel_envi_7'] == 999].index, inplace = True)

In [73]:
df.drop(df[df['Feel_envi_8'] == 999].index, inplace = True)

In [74]:
df.drop(df[df['Feel_envi_9'] == 999].index, inplace = True)

In [75]:
df.drop(df[df['Feel_envi_9'] == "999"].index, inplace = True)

In [76]:
df.drop(df[df['Feel_envi_9'] == "#NULL!"].index, inplace = True)

In [77]:
df.drop(df[df['Feel_envi_10'] == 999].index, inplace = True)

In [78]:
df.drop(df[df['Feel_envi_11'] == 999].index, inplace = True)

In [79]:
df.drop(df[df['Feel_envi_12'] == 999].index, inplace = True)

In [80]:
df.drop(df[df['Feel_envi_13'] == 999].index, inplace = True)

In [81]:
df.drop(df[df['Feel_envi_14'] == 999].index, inplace = True)

In [82]:
df['Feel_envi_9'] = pd.to_numeric(df['Feel_envi_9'])

In [83]:
df.Feel_envi_9.unique()

array([ 5,  3,  4,  0,  2, -1, -5,  1, -3, -2, -4], dtype=int64)

In [84]:
####  Feature Engineering:

In [85]:
# get all numberic features
num_data = df[['Relation_fam','Relation_friend','Relation_aj','Feel_uni_1','Feel_uni_2','Feel_uni_3','Feel_uni_4','Feel_uni_5','Feel_uni_6','Feel_envi_7','Feel_envi_8','Feel_envi_9','Feel_envi_10','Feel_envi_11','Feel_envi_12','Feel_envi_13','Feel_envi_14','Problem','Problem_study','Problem_love','Problem_adjust','Problem_econ','Problem_other','Attitude']]

# get class
class_target = df[['GPAX']]

In [86]:
num_data

,Relation_fam,Relation_friend,Relation_aj,Feel_uni_1,Feel_uni_2,Feel_uni_3,Feel_uni_4,Feel_uni_5,Feel_uni_6,Feel_envi_7,...,Feel_envi_12,Feel_envi_13,Feel_envi_14,Problem,Problem_study,Problem_love,Problem_adjust,Problem_econ,Problem_other,Attitude
17,5,5,5,5,5,5,5,5,5,5,...,5,5,5,1,1,0,0,0,0,2.0
18,5,2,5,5,5,5,5,5,5,5,...,5,5,5,1,1,0,0,0,0,2.0
19,5,4,3,5,5,5,5,5,5,5,...,5,5,5,1,1,0,1,0,0,2.0
20,5,5,5,5,3,5,5,5,5,5,...,5,5,5,1,1,0,1,0,0,2.0
21,5,4,4,5,5,5,5,5,4,5,...,5,5,5,1,0,0,0,1,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3477,5,3,3,3,2,1,1,3,3,3,...,3,3,3,0,0,0,0,0,0,2.0
3478,5,3,2,3,2,-5,1,3,2,3,...,3,3,3,0,0,0,0,0,0,2.0
3480,4,3,2,3,2,3,2,3,3,2,...,3,3,3,0,0,0,0,0,0,2.0
3481,4,4,4,4,3,3,3,4,3,3,...,2,3,3,0,0,0,0,0,0,2.0
3484,4,4,4,1,2,1,3,2,2,3,...,2,2,2,0,0,0,0,0,0,1.0

In [87]:
class_target.describe()

              GPAX
count  2185.000000
mean      2.767812
std       0.588795
min       1.000000
25%       2.300000
50%       2.760000
75%       3.200000
max       4.000000

In [88]:
num_data.describe()

,Relation_fam,Relation_friend,Relation_aj,Feel_uni_1,Feel_uni_2,Feel_uni_3,Feel_uni_4,Feel_uni_5,Feel_uni_6,Feel_envi_7,...,Feel_envi_12,Feel_envi_13,Feel_envi_14,Problem,Problem_study,Problem_love,Problem_adjust,Problem_econ,Problem_other,Attitude
count,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,...,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000,2185.000000
mean,4.401373,3.666362,2.987185,3.223799,2.270023,2.537757,2.591304,3.358810,2.987185,2.951030,...,3.059954,3.287872,4.100686,0.758352,0.644394,0.175744,0.266819,0.331350,0.070481,1.661785
std,1.256666,1.397567,1.568877,1.434077,2.052280,1.866312,1.721715,1.382235,1.502385,1.747547,...,1.619640,1.638302,1.305078,0.428180,0.478806,0.380689,0.442398,0.470806,0.256014,0.534119
min,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,-5.000000,...,-5.000000,-5.000000,-5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,3.000000,2.000000,3.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,...,3.000000,3.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,5.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,...,3.000000,4.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,5.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,5.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [89]:
num_data.dtypes

Relation_fam         int64
Relation_friend      int64
Relation_aj          int64
Feel_uni_1           int64
Feel_uni_2           int64
Feel_uni_3           int64
Feel_uni_4           int64
Feel_uni_5           int64
Feel_uni_6           int64
Feel_envi_7          int64
Feel_envi_8          int64
Feel_envi_9          int64
Feel_envi_10         int64
Feel_envi_11         int64
Feel_envi_12         int64
Feel_envi_13         int64
Feel_envi_14         int64
Problem              int64
Problem_study        int64
Problem_love         int64
Problem_adjust       int64
Problem_econ         int64
Problem_other        int64
Attitude           float64
dtype: object

In [90]:
class_target.describe()

              GPAX
count  2185.000000
mean      2.767812
std       0.588795
min       1.000000
25%       2.300000
50%       2.760000
75%       3.200000
max       4.000000

In [91]:
num_data.isnull().sum(axis=0).sum()

0

In [92]:
####  Defining Features (X) and Class (Y)

In [93]:
X = num_data
Y = class_target

In [94]:
#### Normalization

In [95]:
print(X)

      Relation_fam  Relation_friend  Relation_aj  Feel_uni_1  Feel_uni_2  \
17               5                5            5           5           5
18               5                2            5           5           5
19               5                4            3           5           5
20               5                5            5           5           3
21               5                4            4           5           5
...            ...              ...          ...         ...         ...
3477             5                3            3           3           2
3478             5                3            2           3           2
3480             4                3            2           3           2
3481             4                4            4           4           3
3484             4                4            4           1           2

      Feel_uni_3  Feel_uni_4  Feel_uni_5  Feel_uni_6  Feel_envi_7  ...  \
17             5           5           5           5            5  ...
18             5           5           5           5            5  ...
19             5           5           5           5            5  ...
20             5           5           5           5            5  ...
21             5           5           5           4            5  ...
...          ...         ...         ...         ...          ...  ...
3477           1           1           3           3            3  ...
3478          -5           1           3           2            3  ...
3480           3           2           3           3            2  ...
3481           3           3           4           3            3  ...
3484           1           3           2           2            3  ...

      Feel_envi_12  Feel_envi_13  Feel_envi_14  Problem  Problem_study  \
17               5             5             5        1              1
18               5             5             5        1              1
19               5             5             5        1              1
20               5             5             5        1              1
21               5             5             5        1              0
...            ...           ...           ...      ...            ...
3477             3             3             3        0              0
3478             3             3             3        0              0
3480             3             3             3        0              0
3481             2             3             3        0              0
3484             2             2             2        0              0

      Problem_love  Problem_adjust  Problem_econ  Problem_other  Attitude
17               0               0             0              0       2.0
18               0               0             0              0       2.0
19               0               1             0              0       2.0
20               0               1             0              0       2.0
21               0               0             1              0       2.0
...            ...             ...           ...            ...       ...
3477             0               0             0              0       2.0
3478             0               0             0              0       2.0
3480             0               0             0              0       2.0
3481             0               0             0              0       2.0
3484             0               0             0              0       1.0

[2185 rows x 24 columns]

In [96]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
norm_data = sc.fit_transform(X)
X = pd.DataFrame(norm_data, columns=X.columns) 
X.head()

,Relation_fam,Relation_friend,Relation_aj,Feel_uni_1,Feel_uni_2,Feel_uni_3,Feel_uni_4,Feel_uni_5,Feel_uni_6,Feel_envi_7,...,Feel_envi_12,Feel_envi_13,Feel_envi_14,Problem,Problem_study,Problem_love,Problem_adjust,Problem_econ,Problem_other,Attitude
0,0.47647,0.954475,1.283259,1.238851,1.330521,1.319611,1.39933,1.187617,1.340053,1.172752,...,1.198099,1.045302,0.689246,0.564489,0.742864,-0.461752,-0.603258,-0.703954,-0.275363,0.633365
1,0.47647,-1.192603,1.283259,1.238851,1.330521,1.319611,1.39933,1.187617,1.340053,1.172752,...,1.198099,1.045302,0.689246,0.564489,0.742864,-0.461752,-0.603258,-0.703954,-0.275363,0.633365
2,0.47647,0.238783,0.008170,1.238851,1.330521,1.319611,1.39933,1.187617,1.340053,1.172752,...,1.198099,1.045302,0.689246,0.564489,0.742864,-0.461752,1.657666,-0.703954,-0.275363,0.633365
3,0.47647,0.954475,1.283259,1.238851,0.355772,1.319611,1.39933,1.187617,1.340053,1.172752,...,1.198099,1.045302,0.689246,0.564489,0.742864,-0.461752,1.657666,-0.703954,-0.275363,0.633365
4,0.47647,0.238783,0.645715,1.238851,1.330521,1.319611,1.39933,1.187617,0.674292,1.172752,...,1.198099,1.045302,0.689246,0.564489,-1.346142,-0.461752,-0.603258,1.420548,-0.275363,0.633365

In [97]:
#### training data and test data

In [98]:
mse = []

In [99]:
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn import metrics

# # Initialize the knn model with k = 2
# knn = KNeighborsRegressor(n_neighbors=2, metric = 'euclidean')

# # Fit the model to the whole dataset
# knn.fit(X, Y)

# # Predict classes of training set
# y_pred = knn.predict(X)

# # Evaluate model performace
# ac = metrics.accuracy_score(Y, y_pred)
# print('Training Accuracy: ', ac)
# k-fold Cross Validation
# ===========================
#Step 1: Import the sklearn classes
from sklearn.model_selection import cross_validate

#Step2: define linear regression model object
LR = LinearRegression()

#Step 3: Fit and test the model with cross validation (10-fold)
cv_results = cross_validate(LR,X,Y, cv=10, scoring='neg_mean_squared_error')

# Accuracy score for each fold 
#print('Tesing Accuracy for each fold:', cv_results['test_score'])

# Overall accuracy score for cross validaiton 
print('Cross Validation Mean Squared Error: %.3f +/- %.3f' % (abs(cv_results['test_score']).mean(), abs(cv_results['test_score']).std()))
mse.append(abs(cv_results['test_score']).mean())

Cross Validation Mean Squared Error: 0.326 +/- 0.043

In [100]:
##define linear regression model object
LR = LinearRegression()
# fit data (all instance and all features) with regression model    
LR.fit(X, Y)

LinearRegression()

In [101]:
# Predict the class label for new record(s)
X_new = pd.read_csv('students_new_sample.csv')  # (1) read new instances
X_new

,Relation_fam,Relation_friend,Relation_aj,Feel_uni_1,Feel_uni_2,Feel_uni_3,Feel_uni_4,Feel_uni_5,Feel_uni_6,Feel_envi_7,...,Feel_envi_12,Feel_envi_13,Feel_envi_14,Problem,Problem_study,Problem_love,Problem_adjust,Problem_econ,Problem_other,Attitude
0,3,2,4,2,-3,-1,5,-5,3,5,...,2,1,2,1,0,1,0,0,0,2
1,0,-2,1,-3,1,5,3,1,-5,-3,...,0,-1,0,0,1,0,1,1,1,1

In [102]:
X_new = sc.transform(X_new) # (2) normalize them using the normalization model created previously (sc is StandardScaler)
X_new

array([[-1.11540639, -1.19260288,  0.64571453, -0.85356571, -2.56847482,
        -1.8960213 ,  1.39932997, -6.0486989 ,  0.00853149,  1.17275222,
        -0.45486743, -1.9634945 , -0.0757875 , -3.51043896, -0.65458777,
        -1.39680942, -1.6099942 ,  0.56448929, -1.34614182,  2.16566483,
        -0.6032579 , -0.70395383, -0.27536288,  0.63336508],
       [-3.50322118, -4.05537388, -1.26691933, -4.34092748, -0.61897678,
         1.3196112 ,  0.23743144, -1.70690945, -5.31755302, -3.40614187,
        -0.86186388, -3.88995856, -1.37457724,  0.7211639 , -1.88971237,
        -2.61786506, -3.14282092, -1.77151279,  0.74286378, -0.46175197,
         1.6576658 ,  1.42054771,  3.63157152, -1.23930434]])

In [103]:
y_new_pred = LR.predict(X_new) # (3) predict class value
y_new_pred

array([[3.28637533],
       [2.43155421]])

In [104]:
import pickle 
pickle.dump(LR, open('LinearRegression.pkl', 'wb')) 
pickle.dump(sc, open('normalization.pkl', 'wb')) ##SC = standard_scaler